In [3]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                    'color': ['Blue', 'Blue', 'Purple']})

df2 = pd.DataFrame({'name': ['Paul', 'George', 'Ringo'],
                    'carcolor': ['Red', 'Blue', np.nan]},
                   index=[3, 1, 2])

In [5]:
pd.concat ([ df1 , df2 ])

     name   color carcolor
0    John    Blue      NaN
1  George    Blue      NaN
2   Ringo  Purple      NaN
3    Paul     NaN      Red
1  George     NaN     Blue
2   Ringo     NaN      NaN

In [9]:
pd.concat([df1, df2] , ignore_index = True)

     name   color carcolor
0    John    Blue      NaN
1  George    Blue      NaN
2   Ringo  Purple      NaN
3    Paul     NaN      Red
4  George     NaN     Blue
5   Ringo     NaN      NaN

In [11]:
pd.concat([df1, df2], axis =1)

     name   color    name carcolor
0    John    Blue     NaN      NaN
1  George    Blue  George     Blue
2   Ringo  Purple   Ringo      NaN
3     NaN     NaN    Paul      Red

In [14]:
df1.set_index('name').join(df2.set_index('name'))

         color carcolor
name
John      Blue      NaN
George    Blue     Blue
Ringo   Purple      NaN

In [21]:
#df1.merge(df2) # inner join
df1.join(df2.set_index('name'), on='name', how='inner')

     name   color carcolor
1  George    Blue     Blue
2   Ringo  Purple      NaN

In [16]:
df1.merge(df2,how='left')

     name   color carcolor
0    John    Blue      NaN
1  George    Blue     Blue
2   Ringo  Purple      NaN

In [17]:
df1.merge(df2,how='outer', indicator=True)

     name   color carcolor      _merge
0    John    Blue      NaN   left_only
1  George    Blue     Blue        both
2   Ringo  Purple      NaN        both
3    Paul     NaN      Red  right_only

In [26]:
#df1.equals(df2)
def cmp_dfs(df1, df2, round_amt=3):
    diff_cols = set(df1.columns) ^ set(df2.columns)
    if diff_cols:
        print(f'Different columns {diff_cols}')
    if df1.shape != df2.shape:
        print(f'Different shapes {df1.shape} {df2.shape}')
    bad = False
    for col in df1.columns:
        s1 = df1[col]
        s2 = df2[col]
        if s1.equals(s2):
            continue
        bad = True
        if s1.dtype != s2.dtype:
            print(f'{col} types differ {s1.dtype} vs {s2.dtype}')
        if s1.dtype == float:
            if s1.round(round_amt).equals(s2.round(round_amt)):
                print(f'{col} has rounding differences '
                      f'{df1[s1.ne(s2)][col].dropna().iloc[0]} '
                      f'vs {df2[s1.ne(s2)][col].dropna().iloc[0]}')
            else:
                print(f'{col} differs {df1[s1.ne(s2)][col].dropna()}')
    if not bad:
        print('Same')

cmp_dfs(df1, df2)

Different columns {'color', 'carcolor'}

KeyError: 'color'