In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('C:/Users/sophia.dellarciprete/Documents/CorsoPython/DATATAPE_ANNIA.xlsx')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NDG,Category,Group,BorrowerName,Tax ID,Address,Town,City,Borrower's Region
1,116648,SOFF.,-,MARKET NALIN S.R.L,4692690284,"VIA PADOVA, N. 108",CARTURA,PADOVA,VENETO
2,130039,SOFF.,-,DOMUS BRENTA S.R.L.,2221113876,"VIA POLA, N. 30",TORRI DI QUARTESOLO,VICENZA,VENETO
3,2238193,SOFF.,-,"MARETTO TOBIA, MARETTO MARTINO, MARETTO RINO, ...","MRTTBO64B19G565F , MRTMTN73E09D325H , MRTRFL68...","VIA DON S. FERRONATO, N. 49/2",PIANIGA,VENEZIA,VENETO
4,11700732,SOFF.,-,NAI FRANCO,NAIFNC45H21A296Y,"VIA GUGLIELMO MARCONI, 1084",SAN MARTINO DI VENEZZE,ROVIGO,VENETO